<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.dao.ActTypeMapper">
  <resultMap id="BaseResultMap" type="com.asset.entity.ActType">
    <result column="proc_model_id" jdbcType="VARCHAR" property="procModelId" />
    <result column="act_id" jdbcType="VARCHAR" property="actId" />
    <result column="act_type" jdbcType="INTEGER" property="actType" />
  </resultMap>
  <insert id="insert" parameterType="com.asset.entity.ActType">
    insert into as_proc_model (proc_model_id, act_id, act_type
      )
    values (#{procModelId,jdbcType=VARCHAR}, #{actId,jdbcType=VARCHAR}, #{actType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.asset.entity.ActType">
    insert into as_proc_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="procModelId != null">
        proc_model_id,
      </if>
      <if test="actId != null">
        act_id,
      </if>
      <if test="actType != null">
        act_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="procModelId != null">
        #{procModelId,jdbcType=VARCHAR},
      </if>
      <if test="actId != null">
        #{actId,jdbcType=VARCHAR},
      </if>
      <if test="actType != null">
        #{actType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="getActType"  resultType="java.lang.Integer">
    SELECT act_type
    FROM as_proc_model
    WHERE
    proc_model_id = #{param1,jdbcType=VARCHAR} AND
    act_id = #{param2,jdbcType=VARCHAR}
  </select>
</mapper>
