<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.dao.FormInstMapper">
  <resultMap id="BaseResultMap" type="com.asset.entity.FormInst">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="form_inst_value" jdbcType="VARCHAR" property="formValue" />
    <result column="form_model_id" jdbcType="VARCHAR" property="formModelId" />
    <result column="proc_inst_id" jdbcType="VARCHAR" property="procInstId" />
    <result column="execution_id" jdbcType="VARCHAR" property="executionId" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.asset.entity.FormInst">
    <result column="form_inst_json" jdbcType="LONGVARCHAR" property="formInstJson" />
  </resultMap>
  <sql id="Blob_Column_List">
    form_inst_json
  </sql>
  <insert id="insert" parameterType="com.asset.entity.FormInst">
    insert into as_form_inst (id, form_model_id, proc_inst_id,
      execution_id, task_id, created_time,
      created_by, form_inst_json)
    values (#{id,jdbcType=VARCHAR}, #{formModelId,jdbcType=VARCHAR}, #{procInstId,jdbcType=VARCHAR},
      #{executionId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, now(),
      #{createdBy,jdbcType=VARCHAR}, #{formInstJson,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asset.entity.FormInst">
    insert into as_form_inst
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="formValue != null">
        form_inst_value,
      </if>
      <if test="formModelId != null">
        form_model_id,
      </if>
      <if test="procInstId != null">
        proc_inst_id,
      </if>
      <if test="executionId != null">
        execution_id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>

        created_time,

      <if test="createdBy != null">
        created_by,
      </if>
      <if test="formInstJson != null">
        form_inst_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="formValue != null">
        #{formValue,jdbcType=VARCHAR},
      </if>
      <if test="formModelId != null">
        #{formModelId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null">
        #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="executionId != null">
        #{executionId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>

        now(),

      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="formInstJson != null">
        #{formInstJson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <!--根据表单实例ID获取对应的流程实例ID
     * @param String form_inst_id-->
  <select id="getProcInstID" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
      proc_inst_id
    FROM
      as_form_inst
    WHERE
      id = #{formInstId,jdbcType=VARCHAR}
  </select>


  <!--* 从as_form_inst根据流程实例ID，返回对应的表单实例信息
     * @param String[] procInstIDs-->
  <select id="getFormInsts" resultMap="ResultMapWithBLOBs">
    SELECT
    id,
    form_model_id,
    proc_inst_id,
    execution_id,
    task_id,
    created_time,
    created_by,
    form_inst_json,
    form_inst_value
    FROM
    as_form_inst
    WHERE
    task_id in
    <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
    #{item}
    </foreach>
  </select>

  <select id="getFormModelId" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
    form_model_id
    FROM
    as_form_inst
    WHERE
    form_inst_id = #{formInstId,jdbcType=VARCHAR}
  </select>

  <update id="approveFormInst" parameterType="com.asset.entity.FormInst">
    UPDATE
    as_form_inst
    SET
    created_by = #{createdBy,jdbcType=VARCHAR}
    WHERE
    id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="handleFormInst" parameterType="com.asset.entity.FormInst">
    UPDATE
    as_form_inst
    SET
    form_inst_json = #{formInstJson,jdbcType=VARCHAR},
    created_by = #{createdBy,jdbcType=VARCHAR}
    WHERE
    id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="readFormInst" parameterType="com.asset.entity.FormInst">
    UPDATE
    as_form_inst
    SET
    created_by = #{createdBy,jdbcType=VARCHAR}
    WHERE
    id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getTaskId" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT task_id
    FROM as_form_inst
    WHERE task_id=#{taskId,jdbcType=VARCHAR}
  </select>
</mapper>
