<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.mapper.PlatRoleMapper">
  <resultMap id="BaseResultMap" type="com.asset.bean.PlatRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scene_code" jdbcType="VARCHAR" property="sceneCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="role_alias" jdbcType="VARCHAR" property="roleAlias" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, scene_code, role_name, sort, role_alias, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from as_plat_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from as_plat_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.asset.bean.PlatRole">
    insert into as_plat_role (id, scene_code, role_name, 
      sort, role_alias, is_deleted
      )
    values (#{id,jdbcType=INTEGER}, #{sceneCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{roleAlias,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.asset.bean.PlatRole">
    insert into as_plat_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sceneCode != null">
        scene_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="roleAlias != null">
        role_alias,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleAlias != null">
        #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.bean.PlatRole">
    update as_plat_role
    <set>
      <if test="sceneCode != null">
        scene_code = #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleAlias != null">
        role_alias = #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.bean.PlatRole">
    update as_plat_role
    set scene_code = #{sceneCode,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      role_alias = #{roleAlias,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.asset.bean.PlatRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scene_code" jdbcType="VARCHAR" property="sceneCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="role_alias" jdbcType="VARCHAR" property="roleAlias" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, scene_code, role_name, sort, role_alias, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from as_plat_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from as_plat_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.asset.bean.PlatRole">
    insert into as_plat_role (id, scene_code, role_name, 
      sort, role_alias, is_deleted
      )
    values (#{id,jdbcType=INTEGER}, #{sceneCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{roleAlias,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.asset.bean.PlatRole">
    insert into as_plat_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sceneCode != null">
        scene_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="roleAlias != null">
        role_alias,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleAlias != null">
        #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.bean.PlatRole">
    update as_plat_role
    <set>
      <if test="sceneCode != null">
        scene_code = #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleAlias != null">
        role_alias = #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.bean.PlatRole">
    update as_plat_role
    set scene_code = #{sceneCode,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      role_alias = #{roleAlias,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.asset.bean.PlatRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scene_code" jdbcType="VARCHAR" property="sceneCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="role_alias" jdbcType="VARCHAR" property="roleAlias" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, scene_code, role_name, sort, role_alias, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from as_plat_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from as_plat_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.asset.bean.PlatRole">
    insert into as_plat_role (id, scene_code, role_name, 
      sort, role_alias, is_deleted
      )
    values (#{id,jdbcType=INTEGER}, #{sceneCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{roleAlias,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.asset.bean.PlatRole">
    insert into as_plat_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sceneCode != null">
        scene_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="roleAlias != null">
        role_alias,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleAlias != null">
        #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.bean.PlatRole">
    update as_plat_role
    <set>
      <if test="sceneCode != null">
        scene_code = #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleAlias != null">
        role_alias = #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.bean.PlatRole">
    update as_plat_role
    set scene_code = #{sceneCode,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      role_alias = #{roleAlias,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.asset.bean.PlatRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scene_code" jdbcType="VARCHAR" property="sceneCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="role_alias" jdbcType="VARCHAR" property="roleAlias" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, scene_code, role_name, sort, role_alias, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from as_plat_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from as_plat_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.asset.bean.PlatRole">
    insert into as_plat_role (id, scene_code, role_name, 
      sort, role_alias, is_deleted
      )
    values (#{id,jdbcType=INTEGER}, #{sceneCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{roleAlias,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.asset.bean.PlatRole">
    insert into as_plat_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sceneCode != null">
        scene_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="roleAlias != null">
        role_alias,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleAlias != null">
        #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.bean.PlatRole">
    update as_plat_role
    <set>
      <if test="sceneCode != null">
        scene_code = #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleAlias != null">
        role_alias = #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.bean.PlatRole">
    update as_plat_role
    set scene_code = #{sceneCode,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      role_alias = #{roleAlias,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.asset.bean.PlatRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scene_code" jdbcType="VARCHAR" property="sceneCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="role_alias" jdbcType="VARCHAR" property="roleAlias" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, scene_code, role_name, sort, role_alias, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from as_plat_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from as_plat_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.asset.bean.PlatRole">
    insert into as_plat_role (id, scene_code, role_name, 
      sort, role_alias, is_deleted
      )
    values (#{id,jdbcType=INTEGER}, #{sceneCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{roleAlias,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.asset.bean.PlatRole">
    insert into as_plat_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sceneCode != null">
        scene_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="roleAlias != null">
        role_alias,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleAlias != null">
        #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.bean.PlatRole">
    update as_plat_role
    <set>
      <if test="sceneCode != null">
        scene_code = #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleAlias != null">
        role_alias = #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.bean.PlatRole">
    update as_plat_role
    set scene_code = #{sceneCode,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      role_alias = #{roleAlias,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.asset.bean.PlatRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scene_code" jdbcType="VARCHAR" property="sceneCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="role_alias" jdbcType="VARCHAR" property="roleAlias" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, scene_code, role_name, sort, role_alias, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from as_plat_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from as_plat_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.asset.bean.PlatRole">
    insert into as_plat_role (id, scene_code, role_name, 
      sort, role_alias, is_deleted
      )
    values (#{id,jdbcType=INTEGER}, #{sceneCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{roleAlias,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.asset.bean.PlatRole">
    insert into as_plat_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sceneCode != null">
        scene_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="roleAlias != null">
        role_alias,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleAlias != null">
        #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.bean.PlatRole">
    update as_plat_role
    <set>
      <if test="sceneCode != null">
        scene_code = #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleAlias != null">
        role_alias = #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.bean.PlatRole">
    update as_plat_role
    set scene_code = #{sceneCode,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      role_alias = #{roleAlias,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.asset.bean.PlatRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scene_code" jdbcType="VARCHAR" property="sceneCode" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="role_alias" jdbcType="VARCHAR" property="roleAlias" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, scene_code, role_name, sort, role_alias, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from as_plat_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from as_plat_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.asset.bean.PlatRole">
    insert into as_plat_role (id, scene_code, role_name, 
      sort, role_alias, is_deleted
      )
    values (#{id,jdbcType=INTEGER}, #{sceneCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{roleAlias,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.asset.bean.PlatRole">
    insert into as_plat_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sceneCode != null">
        scene_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="roleAlias != null">
        role_alias,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sceneCode != null">
        #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleAlias != null">
        #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.bean.PlatRole">
    update as_plat_role
    <set>
      <if test="sceneCode != null">
        scene_code = #{sceneCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="roleAlias != null">
        role_alias = #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.bean.PlatRole">
    update as_plat_role
    set scene_code = #{sceneCode,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      role_alias = #{roleAlias,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>