<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.mapper.RoleGroupMapper">
  <resultMap id="BaseResultMap" type="com.asset.bean.RoleGroup">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_group_name" jdbcType="VARCHAR" property="roleGroupName" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_group_name, is_deleted, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from as_role_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from as_role_group
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.asset.bean.RoleGroup">
    insert into as_role_group (id, role_group_name, is_deleted, 
      add_time)
    values (#{id,jdbcType=BIGINT}, #{roleGroupName,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.asset.bean.RoleGroup">
    insert into as_role_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleGroupName != null">
        role_group_name,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleGroupName != null">
        #{roleGroupName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.bean.RoleGroup">
    update as_role_group
    <set>
      <if test="roleGroupName != null">
        role_group_name = #{roleGroupName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.bean.RoleGroup">
    update as_role_group
    set role_group_name = #{roleGroupName,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.asset.bean.RoleGroup">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_group_name" jdbcType="VARCHAR" property="roleGroupName" />
    <result column="id_deleted" jdbcType="TINYINT" property="idDeleted" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_group_name, id_deleted, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from as_role_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from as_role_group
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.asset.bean.RoleGroup">
    insert into as_role_group (id, role_group_name, id_deleted, 
      add_time)
    values (#{id,jdbcType=BIGINT}, #{roleGroupName,jdbcType=VARCHAR}, #{idDeleted,jdbcType=TINYINT}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.asset.bean.RoleGroup">
    insert into as_role_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleGroupName != null">
        role_group_name,
      </if>
      <if test="idDeleted != null">
        id_deleted,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleGroupName != null">
        #{roleGroupName,jdbcType=VARCHAR},
      </if>
      <if test="idDeleted != null">
        #{idDeleted,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.bean.RoleGroup">
    update as_role_group
    <set>
      <if test="roleGroupName != null">
        role_group_name = #{roleGroupName,jdbcType=VARCHAR},
      </if>
      <if test="idDeleted != null">
        id_deleted = #{idDeleted,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.bean.RoleGroup">
    update as_role_group
    set role_group_name = #{roleGroupName,jdbcType=VARCHAR},
      id_deleted = #{idDeleted,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>