<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.dao.AsFormProcInstBindMapper">
  <resultMap id="BaseResultMap" type="com.asset.entity.AsFormProcInstBind">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="form_inst_id" jdbcType="VARCHAR" property="formInstId" />
    <result column="proc_inst_id" jdbcType="VARCHAR" property="procInstId" />
    <result column="form_model_id" jdbcType="VARCHAR" property="formModelId" />
    <result column="proc_model_id" jdbcType="VARCHAR" property="procModelId" />
    <result column="proc_def_id" jdbcType="VARCHAR" property="procDefId" />
    <result column="proc_deploy_id" jdbcType="VARCHAR" property="procDeployId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, form_inst_id, proc_inst_id, form_model_id, proc_model_id, proc_def_id, proc_deploy_id,
    created_time, created_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from as_formproc_instbind
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from as_formproc_instbind
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.asset.entity.AsFormProcInstBind">
    insert into as_formproc_instbind (id, form_inst_id, proc_inst_id,
      form_model_id, proc_model_id, proc_def_id,
      proc_deploy_id, created_time, created_by
      )
    values (#{id,jdbcType=INTEGER}, #{formInstId,jdbcType=VARCHAR}, #{procInstId,jdbcType=VARCHAR},
      #{formModelId,jdbcType=VARCHAR}, #{procModelId,jdbcType=VARCHAR}, #{procDefId,jdbcType=VARCHAR},
      #{procDeployId,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.asset.entity.AsFormProcInstBind">
    insert into as_formproc_instbind
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="formInstId != null">
        form_inst_id,
      </if>
      <if test="procInstId != null">
        proc_inst_id,
      </if>
      <if test="formModelId != null">
        form_model_id,
      </if>
      <if test="procModelId != null">
        proc_model_id,
      </if>
      <if test="procDefId != null">
        proc_def_id,
      </if>
      <if test="procDeployId != null">
        proc_deploy_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="formInstId != null">
        #{formInstId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null">
        #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="formModelId != null">
        #{formModelId,jdbcType=VARCHAR},
      </if>
      <if test="procModelId != null">
        #{procModelId,jdbcType=VARCHAR},
      </if>
      <if test="procDefId != null">
        #{procDefId,jdbcType=VARCHAR},
      </if>
      <if test="procDeployId != null">
        #{procDeployId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.entity.AsFormProcInstBind">
    update as_formproc_instbind
    <set>
      <if test="formInstId != null">
        form_inst_id = #{formInstId,jdbcType=VARCHAR},
      </if>
      <if test="procInstId != null">
        proc_inst_id = #{procInstId,jdbcType=VARCHAR},
      </if>
      <if test="formModelId != null">
        form_model_id = #{formModelId,jdbcType=VARCHAR},
      </if>
      <if test="procModelId != null">
        proc_model_id = #{procModelId,jdbcType=VARCHAR},
      </if>
      <if test="procDefId != null">
        proc_def_id = #{procDefId,jdbcType=VARCHAR},
      </if>
      <if test="procDeployId != null">
        proc_deploy_id = #{procDeployId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.entity.AsFormProcInstBind">
    update as_formproc_instbind
    set form_inst_id = #{formInstId,jdbcType=VARCHAR},
      proc_inst_id = #{procInstId,jdbcType=VARCHAR},
      form_model_id = #{formModelId,jdbcType=VARCHAR},
      proc_model_id = #{procModelId,jdbcType=VARCHAR},
      proc_def_id = #{procDefId,jdbcType=VARCHAR},
      proc_deploy_id = #{procDeployId,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--获取与表单实例绑定的流程实例ID
      @param String formInstId-->
  <select id="getProcInstID" parameterType="java.lang.String">
    SELECT proc_inst_id
    FROM as_formproc_instbind
    WHERE
      form_inst_id = #{formInstId,jdbcType = VARCHAR}
  </select>
</mapper>
