<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.dao.AsFormDeployMapper">
  <resultMap id="BaseResultMap" type="com.asset.entity.AsFormDeployInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="proc_deploy_id" jdbcType="VARCHAR" property="procDeployId" />
    <result column="form_model_id" jdbcType="VARCHAR" property="formModelId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, proc_deploy_id, form_model_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from as_form_deploy
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from as_form_deploy
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.asset.entity.AsFormDeployInfo">
    insert into as_form_deploy (id, proc_deploy_id, form_model_id
      )
    values (#{id,jdbcType=VARCHAR}, #{procDeployId,jdbcType=VARCHAR}, #{formModelId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.asset.entity.AsFormDeployInfo">
    insert into as_form_deploy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="procDeployId != null">
        proc_deploy_id,
      </if>
      <if test="formModelId != null">
        form_model_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="procDeployId != null">
        #{procDeployId,jdbcType=VARCHAR},
      </if>
      <if test="formModelId != null">
        #{formModelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.entity.AsFormDeployInfo">
    update as_form_deploy
    <set>
      <if test="procDeployId != null">
        proc_deploy_id = #{procDeployId,jdbcType=VARCHAR},
      </if>
      <if test="formModelId != null">
        form_model_id = #{formModelId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.entity.AsFormDeployInfo">
    update as_form_deploy
    set proc_deploy_id = #{procDeployId,jdbcType=VARCHAR},
      form_model_id = #{formModelId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getProcDeployID" parameterType="java.lang.String" resultType="java.lang.String">
    select proc_deploy_id
    from as_form_deploy
    where form_model_id = #{formModelID , jdbcType = VARCHAR}
  </select>
</mapper>
