<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.dao.AsFormModelMapper">
  <resultMap id="BaseResultMap" type="com.asset.entity.AsFormModel">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="form_name" jdbcType="VARCHAR" property="formName" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="last_updated_time" jdbcType="TIMESTAMP" property="lastUpdatedTime" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="icon_cls" jdbcType="VARCHAR" property="iconCls" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="proc_model_id" jdbcType="VARCHAR" property="procModelId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.asset.entity.AsFormModel">
    <result column="model_json" jdbcType="LONGVARCHAR" property="modelJson" />
  </resultMap>
  <sql id="Blob_Column_List">
    model_json
  </sql>
  <insert id="insert" parameterType="com.asset.entity.AsFormModel">
    insert into as_form_model (id, form_name, created_time,
      created_by, last_updated_time, last_updated_by,
      version, group_id, icon_cls,
      status, proc_model_id, model_json
      )
    values (#{id,jdbcType=VARCHAR}, #{formName,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP},
      #{createdBy,jdbcType=VARCHAR}, #{lastUpdatedTime,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR},
      #{version,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{iconCls,jdbcType=VARCHAR},
      #{status,jdbcType=TINYINT}, #{procModelId,jdbcType=VARCHAR}, #{modelJson,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.asset.entity.AsFormModel">
    insert into as_form_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="formName != null">
        form_name,
      </if>
        created_time,
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="lastUpdatedTime != null">
        last_updated_time,
      </if>
      <if test="lastUpdatedBy != null">
        last_updated_by,
      </if>
        version,
      <if test="groupId != null">
        group_id,
      </if>
      <if test="iconCls != null">
        icon_cls,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="procModelId != null">
        proc_model_id,
      </if>
      <if test="modelJson != null">
        model_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="formName != null">
        #{formName,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedTime != null">
        #{lastUpdatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null">
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
        1,
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="iconCls != null">
        #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="procModelId != null">
        #{procModelId,jdbcType=VARCHAR},
      </if>
      <if test="modelJson != null">
        #{modelJson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <!--返回对应的表单模型
      @param formModelID-->
  <select id="getFormModel" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
	      id,
          form_name,
          created_time,
          created_by,
          last_updated_time,
          last_updated_by,
          version,
          model_json
        FROM
	      as_form_model
        WHERE
	      id = #{formModelID,jdbcType =VARCHAR };
    </select>

  <!--修改表单模型
      @param AsFormModel asFormModel-->
  <update id="editFormModel" parameterType="com.asset.entity.AsFormModel">
        UPDATE as_form_model
        SET
        form_name = #{formName,jdbcType=VARCHAR},
        model_json = #{modelJson,jdbcType=VARCHAR},
        group_id = #{groupId,jdbcType=INTEGER},
        icon_cls = #{iconCls,jdbcType=VARCHAR}
        WHERE
        id = #{id,jdbcType=VARCHAR};
    </update>

  <!-- 在表单模型表中绑定对应的流程模型
       @param AsFormModel bindInfo -->
  <update id="bindProcModel" parameterType="com.asset.entity.AsFormModel">
        UPDATE
        as_form_model
        SET
        proc_model_id = #{procModelId,jdbcType = VARCHAR}
	    WHERE
	    id = #{id,jdbcType = VARCHAR};
    </update>

  <!--根据传进来的表单模型ID一个一个取出来
       @param List<String> formModelIDs-->
  <select id="getFormModels" parameterType="java.util.List" resultMap="BaseResultMap">
    SELECT
    id,
    form_name,
    created_time,
    created_by,
    version,
    model_json,
    group_id,
    icon_cls,
    status,
    proc_model_id
    FROM
    as_form_model
    WHERE
    id in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <!--给应用下的表单模型进行分组
      @param AsFormModel groupInfo-->
  <update id="setFormGroup" parameterType="com.asset.entity.AsFormModel">
        UPDATE
          as_form_model
        SET
          group_id = #{groupId,jdbcType = INTEGER}
        WHERE
          id = #{id,jdbcType = VARCHAR}
    </update>

  <!--获取与该表单模型绑定的流程模型ID
      @param String formModelId-->
  <select id="getProcModelID" parameterType="java.lang.String">
        SELECT proc_model_id
        FROM as_form_model
        WHERE id = #{formModelId,jdbcType = VARCHAR}
    </select>

  <!--根据modelID返回model_json数据
      @param String formModelID-->
  <select id="getModelJson" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
           model_json
        FROM
          asset_form_model
        WHERE
          id = #{formModelID,jdbcType = VARCHAR};
    </select>
</mapper>
