<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.dao.FlowableMapper">

    <resultMap id="BaseResultMap" type="com.asset.entity.ProcInst">
        <result column="TASK_ID_" jdbcType="VARCHAR" property="taskId" />
        <result column="ACT_ID_" jdbcType="VARCHAR" property="actId" />
    </resultMap>

    <!--取出AsFormInst对象中的taskId值去 act_hi_actinst表中找到对应的ACT_ID_字段的值，用于去别的表找这个ACT是什么类型的
     * @param asFormInsts
     * @return 对应的ACT_ID_字段的值-->
    <select id="getActIDs" parameterType="com.asset.entity.AsFormInst" resultMap="BaseResultMap">
        SELECT
        TASK_ID_,
        ACT_ID_
        FROM act_hi_actinst
        WHERE
        TASK_ID_ in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item.taskId,jdbcType=VARCHAR}
        </foreach>
    </select>

</mapper>
