<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.dao.OAppGroupBindMapper">
  <resultMap id="BaseResultMap" type="com.asset.entity.OAppGroupBind">
    <id column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="oapp_id" jdbcType="VARCHAR" property="oappId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    group_id, oapp_id, group_name, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from asset_oapp_group
    where group_id = #{groupId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from asset_oapp_group
    where group_id = #{groupId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.asset.entity.OAppGroupBind">
    insert into asset_oapp_group (group_id, oapp_id, group_name,
      status)
    values (#{groupId,jdbcType=INTEGER}, #{oappId,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.asset.entity.OAppGroupBind">
    insert into asset_oapp_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        group_id,
      </if>
      <if test="oappId != null">
        oapp_id,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="oappId != null">
        #{oappId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.entity.OAppGroupBind">
    update asset_oapp_group
    <set>
      <if test="oappId != null">
        oapp_id = #{oappId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where group_id = #{groupId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.entity.OAppGroupBind">
    update asset_oapp_group
    set oapp_id = #{oappId,jdbcType=VARCHAR},
      group_name = #{groupName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where group_id = #{groupId,jdbcType=INTEGER}
  </update>
  <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from asset_oapp_group
    where oapp_id = #{oAppID,jdbcType=VARCHAR}
  </select>
</mapper>
