<html>
<head>
    <!-- build:css display/styles/displaymodel-style.css -->
    <link type="text/css" rel="stylesheet" href="display/jquery.qtip.min.css" />
    <link type="text/css" rel="stylesheet" href="display/displaymodel.css" />
    <!-- endbuild -->

    <!-- build:js display/scripts/displaymodel-logic.js -->
    <script type="text/javascript" src="display/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="display/raphael.js"></script>
    <script type="text/javascript" src="display/bpmn-draw.js"></script>
    <script type="text/javascript" src="display/bpmn-icons.js"></script>
    <script type="text/javascript" src="display/Polyline.js"></script>
    <script type="text/javascript" src="display/displaymodel.js"></script>
    <!-- endbuild -->
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>

<body ng-app="">
<div ng-include="'page1.html'"></div>
<div ng-include="'page2.html'"></div>
</body>

</html>