<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.mapper.StaffMapper">
  <resultMap id="BaseResultMap" type="com.asset.bean.Staff">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="graduate_time" jdbcType="TIMESTAMP" property="graduateTime" />
    <result column="graduate_school" jdbcType="VARCHAR" property="graduateSchool" />
    <result column="authorized_strength" jdbcType="VARCHAR" property="authorizedStrength" />
    <result column="staff_birthday" jdbcType="TIMESTAMP" property="staffBirthday" />
    <result column="party_group" jdbcType="VARCHAR" property="partyGroup" />
    <result column="fixed_telephone" jdbcType="VARCHAR" property="fixedTelephone" />
    <result column="overseas_relation" jdbcType="VARCHAR" property="overseasRelation" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="emergency_contact" jdbcType="VARCHAR" property="emergencyContact" />
    <result column="contact_phone_number" jdbcType="VARCHAR" property="contactPhoneNumber" />
    <result column="staff_nation" jdbcType="VARCHAR" property="staffNation" />
    <result column="staff_hiredate" jdbcType="TIMESTAMP" property="staffHiredate" />
    <result column="remove_tag" jdbcType="INTEGER" property="removeTag" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="staff_major" jdbcType="VARCHAR" property="staffMajor" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="user_created_tag" jdbcType="VARCHAR" property="userCreatedTag" />
    <result column="postal_code" jdbcType="VARCHAR" property="postalCode" />
    <result column="staff_photo" jdbcType="VARCHAR" property="staffPhoto" />
    <result column="certificate_number" jdbcType="VARCHAR" property="certificateNumber" />
    <result column="certificate_type" jdbcType="VARCHAR" property="certificateType" />
    <result column="staff_title" jdbcType="VARCHAR" property="staffTitle" />
    <result column="staff_duty" jdbcType="VARCHAR" property="staffDuty" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="asset_status" jdbcType="VARCHAR" property="assetStatus" />
    <result column="staff_religion" jdbcType="VARCHAR" property="staffReligion" />
    <result column="academic_credential" jdbcType="VARCHAR" property="academicCredential" />
    <result column="family_address" jdbcType="VARCHAR" property="familyAddress" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, graduate_time, graduate_school, authorized_strength, staff_birthday,
    party_group, fixed_telephone, overseas_relation, native_place, emergency_contact,
    contact_phone_number, staff_nation, staff_hiredate, remove_tag, phone_number, staff_major,
    gender, staff_name, user_created_tag, postal_code, staff_photo, certificate_number,
    certificate_type, staff_title, staff_duty, status, asset_status, staff_religion,
    academic_credential, family_address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from as_staff
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from as_staff
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.asset.bean.Staff">
    <selectKey resultType="java.lang.String" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into as_staff (id, user_id, graduate_time,
      graduate_school, authorized_strength, staff_birthday,
      party_group, fixed_telephone, overseas_relation,
      native_place, emergency_contact, contact_phone_number,
      staff_nation, staff_hiredate, remove_tag,
      phone_number, staff_major, gender,
      staff_name, user_created_tag, postal_code,
      staff_photo, certificate_number, certificate_type,
      staff_title, staff_duty, status,
      asset_status, staff_religion, academic_credential
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{graduateTime,jdbcType=TIMESTAMP},
      #{graduateSchool,jdbcType=VARCHAR}, #{authorizedStrength,jdbcType=VARCHAR}, #{staffBirthday,jdbcType=TIMESTAMP},
      #{partyGroup,jdbcType=VARCHAR}, #{fixedTelephone,jdbcType=VARCHAR}, #{overseasRelation,jdbcType=VARCHAR},
      #{nativePlace,jdbcType=VARCHAR}, #{emergencyContact,jdbcType=VARCHAR}, #{contactPhoneNumber,jdbcType=VARCHAR},
      #{staffNation,jdbcType=VARCHAR}, #{staffHiredate,jdbcType=TIMESTAMP}, #{removeTag,jdbcType=INTEGER},
      #{phoneNumber,jdbcType=VARCHAR}, #{staffMajor,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER},
      #{staffName,jdbcType=VARCHAR}, #{userCreatedTag,jdbcType=VARCHAR}, #{postalCode,jdbcType=VARCHAR},
      #{staffPhoto,jdbcType=VARCHAR}, #{certificateNumber,jdbcType=VARCHAR}, #{certificateType,jdbcType=VARCHAR},
      #{staffTitle,jdbcType=VARCHAR}, #{staffDuty,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{assetStatus,jdbcType=VARCHAR}, #{staffReligion,jdbcType=VARCHAR}, #{academicCredential,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.asset.bean.Staff">
    insert into as_staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="graduateTime != null">
        graduate_time,
      </if>
      <if test="graduateSchool != null">
        graduate_school,
      </if>
      <if test="authorizedStrength != null">
        authorized_strength,
      </if>
      <if test="staffBirthday != null">
        staff_birthday,
      </if>
      <if test="partyGroup != null">
        party_group,
      </if>
      <if test="fixedTelephone != null">
        fixed_telephone,
      </if>
      <if test="overseasRelation != null">
        overseas_relation,
      </if>
      <if test="nativePlace != null">
        native_place,
      </if>
      <if test="emergencyContact != null">
        emergency_contact,
      </if>
      <if test="contactPhoneNumber != null">
        contact_phone_number,
      </if>
      <if test="staffNation != null">
        staff_nation,
      </if>
      <if test="staffHiredate != null">
        staff_hiredate,
      </if>
      <if test="removeTag != null">
        remove_tag,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="staffMajor != null">
        staff_major,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="staffName != null">
        staff_name,
      </if>
      <if test="userCreatedTag != null">
        user_created_tag,
      </if>
      <if test="postalCode != null">
        postal_code,
      </if>
      <if test="staffPhoto != null">
        staff_photo,
      </if>
      <if test="certificateNumber != null">
        certificate_number,
      </if>
      <if test="certificateType != null">
        certificate_type,
      </if>
      <if test="staffTitle != null">
        staff_title,
      </if>
      <if test="staffDuty != null">
        staff_duty,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="assetStatus != null">
        asset_status,
      </if>
      <if test="staffReligion != null">
        staff_religion,
      </if>
      <if test="academicCredential != null">
        academic_credential,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="graduateTime != null">
        #{graduateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="graduateSchool != null">
        #{graduateSchool,jdbcType=VARCHAR},
      </if>
      <if test="authorizedStrength != null">
        #{authorizedStrength,jdbcType=VARCHAR},
      </if>
      <if test="staffBirthday != null">
        #{staffBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="partyGroup != null">
        #{partyGroup,jdbcType=VARCHAR},
      </if>
      <if test="fixedTelephone != null">
        #{fixedTelephone,jdbcType=VARCHAR},
      </if>
      <if test="overseasRelation != null">
        #{overseasRelation,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null">
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="emergencyContact != null">
        #{emergencyContact,jdbcType=VARCHAR},
      </if>
      <if test="contactPhoneNumber != null">
        #{contactPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="staffNation != null">
        #{staffNation,jdbcType=VARCHAR},
      </if>
      <if test="staffHiredate != null">
        #{staffHiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeTag != null">
        #{removeTag,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="staffMajor != null">
        #{staffMajor,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="userCreatedTag != null">
        #{userCreatedTag,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null">
        #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="staffPhoto != null">
        #{staffPhoto,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="certificateType != null">
        #{certificateType,jdbcType=VARCHAR},
      </if>
      <if test="staffTitle != null">
        #{staffTitle,jdbcType=VARCHAR},
      </if>
      <if test="staffDuty != null">
        #{staffDuty,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="assetStatus != null">
        #{assetStatus,jdbcType=VARCHAR},
      </if>
      <if test="staffReligion != null">
        #{staffReligion,jdbcType=VARCHAR},
      </if>
      <if test="academicCredential != null">
        #{academicCredential,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.bean.Staff">
    update as_staff
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="graduateTime != null">
        graduate_time = #{graduateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="graduateSchool != null">
        graduate_school = #{graduateSchool,jdbcType=VARCHAR},
      </if>
      <if test="authorizedStrength != null">
        authorized_strength = #{authorizedStrength,jdbcType=VARCHAR},
      </if>
      <if test="staffBirthday != null">
        staff_birthday = #{staffBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="partyGroup != null">
        party_group = #{partyGroup,jdbcType=VARCHAR},
      </if>
      <if test="fixedTelephone != null">
        fixed_telephone = #{fixedTelephone,jdbcType=VARCHAR},
      </if>
      <if test="overseasRelation != null">
        overseas_relation = #{overseasRelation,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null">
        native_place = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="emergencyContact != null">
        emergency_contact = #{emergencyContact,jdbcType=VARCHAR},
      </if>
      <if test="contactPhoneNumber != null">
        contact_phone_number = #{contactPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="staffNation != null">
        staff_nation = #{staffNation,jdbcType=VARCHAR},
      </if>
      <if test="staffHiredate != null">
        staff_hiredate = #{staffHiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeTag != null">
        remove_tag = #{removeTag,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="staffMajor != null">
        staff_major = #{staffMajor,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="staffName != null">
        staff_name = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="userCreatedTag != null">
        user_created_tag = #{userCreatedTag,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null">
        postal_code = #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="staffPhoto != null">
        staff_photo = #{staffPhoto,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        certificate_number = #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="certificateType != null">
        certificate_type = #{certificateType,jdbcType=VARCHAR},
      </if>
      <if test="staffTitle != null">
        staff_title = #{staffTitle,jdbcType=VARCHAR},
      </if>
      <if test="staffDuty != null">
        staff_duty = #{staffDuty,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="assetStatus != null">
        asset_status = #{assetStatus,jdbcType=VARCHAR},
      </if>
      <if test="staffReligion != null">
        staff_religion = #{staffReligion,jdbcType=VARCHAR},
      </if>
      <if test="academicCredential != null">
        academic_credential = #{academicCredential,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.bean.Staff">
    update as_staff
    set user_id = #{userId,jdbcType=VARCHAR},
      graduate_time = #{graduateTime,jdbcType=TIMESTAMP},
      graduate_school = #{graduateSchool,jdbcType=VARCHAR},
      authorized_strength = #{authorizedStrength,jdbcType=VARCHAR},
      staff_birthday = #{staffBirthday,jdbcType=TIMESTAMP},
      party_group = #{partyGroup,jdbcType=VARCHAR},
      fixed_telephone = #{fixedTelephone,jdbcType=VARCHAR},
      overseas_relation = #{overseasRelation,jdbcType=VARCHAR},
      native_place = #{nativePlace,jdbcType=VARCHAR},
      emergency_contact = #{emergencyContact,jdbcType=VARCHAR},
      contact_phone_number = #{contactPhoneNumber,jdbcType=VARCHAR},
      staff_nation = #{staffNation,jdbcType=VARCHAR},
      staff_hiredate = #{staffHiredate,jdbcType=TIMESTAMP},
      remove_tag = #{removeTag,jdbcType=INTEGER},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      staff_major = #{staffMajor,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      staff_name = #{staffName,jdbcType=VARCHAR},
      user_created_tag = #{userCreatedTag,jdbcType=VARCHAR},
      postal_code = #{postalCode,jdbcType=VARCHAR},
      staff_photo = #{staffPhoto,jdbcType=VARCHAR},
      certificate_number = #{certificateNumber,jdbcType=VARCHAR},
      certificate_type = #{certificateType,jdbcType=VARCHAR},
      staff_title = #{staffTitle,jdbcType=VARCHAR},
      staff_duty = #{staffDuty,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      asset_status = #{assetStatus,jdbcType=VARCHAR},
      staff_religion = #{staffReligion,jdbcType=VARCHAR},
      academic_credential = #{academicCredential,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
