<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.asset.bean.Menu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon_cls" jdbcType="VARCHAR" property="iconCls" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="remove_time" jdbcType="TIMESTAMP" property="removeTime" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <collection property="children" ofType="com.asset.bean.Menu">
      <id column="id2" property="id"/>
      <result column="path2" property="path" jdbcType="VARCHAR"/>
      <result column="code2" property="code" jdbcType="VARCHAR"/>
      <result column="name2" property="name" jdbcType="VARCHAR"/>
      <result column="iconCls2" property="iconCls" jdbcType="VARCHAR"/>
      <result column="sort2" property="sort" jdbcType="INTEGER"/>
      <result column="group_id2" jdbcType="VARCHAR" property="groupId" />
      <result column="group_name2" jdbcType="VARCHAR" property="groupName" />
      <result column="scene_id" jdbcType="VARCHAR" property="sceneId" />
      <collection property="children" ofType="com.asset.bean.Menu">
        <id column="id3" property="id"/>
        <result column="path3" property="path" jdbcType="VARCHAR"/>
        <result column="code3" property="code" jdbcType="VARCHAR"/>
        <result column="name3" property="name" jdbcType="VARCHAR"/>
        <result column="iconCls3" property="iconCls" jdbcType="VARCHAR"/>
        <result column="sort3" property="sort" jdbcType="INTEGER"/>
      </collection>
    </collection>
  </resultMap>
  <resultMap id="ResultMapWithGroup" type="com.asset.bean.Menu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon_cls" jdbcType="VARCHAR" property="iconCls" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="remove_time" jdbcType="TIMESTAMP" property="removeTime" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <collection property="group" ofType="com.asset.bean.FormGroup">
      <result column="group_id2" jdbcType="VARCHAR" property="groupId" />
      <result column="group_name2" jdbcType="VARCHAR" property="groupName" />
      <collection property="children" ofType="com.asset.bean.Menu">
        <id column="id2" property="id"/>
        <result column="path2" property="path" jdbcType="VARCHAR"/>
        <result column="code2" property="code" jdbcType="VARCHAR"/>
        <result column="name2" property="name" jdbcType="VARCHAR"/>
        <result column="iconCls2" property="iconCls" jdbcType="VARCHAR"/>
        <result column="sort2" property="sort" jdbcType="INTEGER"/>
        <result column="sceneId2" property="sceneId" jdbcType="VARCHAR"/>
        <collection property="children" ofType="com.asset.bean.Menu">
          <id column="id3" property="id"/>
          <result column="path3" property="path" jdbcType="VARCHAR"/>
          <result column="code3" property="code" jdbcType="VARCHAR"/>
          <result column="name3" property="name" jdbcType="VARCHAR"/>
          <result column="iconCls3" property="iconCls" jdbcType="VARCHAR"/>
          <result column="sort3" property="sort" jdbcType="INTEGER"/>
        </collection>
      </collection>
    </collection>
  </resultMap>
  <resultMap id="AppMenuMap" type="com.asset.bean.Menu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon_cls" jdbcType="VARCHAR" property="iconCls" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="remove_time" jdbcType="TIMESTAMP" property="removeTime" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="scene_id" jdbcType="VARCHAR" property="sceneId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, code, name, icon_cls, path, level, sort, category, remark, is_deleted,
    add_time, remove_time, group_id, group_name, scene_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from as_menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from as_menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.asset.bean.Menu" useGeneratedKeys="true" keyProperty="id">
    insert into as_menu (id, parent_id, code,
      name, icon_cls, path,
      level, sort, category,
      remark, is_deleted, add_time,
      remove_time, group_id, group_name, scene_id)
    values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{iconCls,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR},
      #{level,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{category,jdbcType=INTEGER},
      #{remark,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP},
      #{removeTime,jdbcType=TIMESTAMP}, #{groupId,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{sceneId,jdbcType=VARCHAR})
  </insert>
  <insert id="addMenuRole">
    insert into as_menu_role (menu_id, role_id) values (#{menuId,jdbcType=BIGINT}, #{roleId,jdbcType=INTEGER})
  </insert>
    <select id="getByPath" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from as_menu where path = #{applicationId} AND is_deleted = 0
    </select>

  <!-- 批量插入， -->
  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    insert into
        as_menu (parent_id, code, name, icon_cls, path, level, sort, category, is_deleted, add_time)
    values
    <foreach collection="list" separator="," item="menu">
      (#{menu.parentId}, #{menu.code}, #{menu.name}, #{menu.iconCls}, #{menu.path}, #{menu.level}, #{menu.sort}, #{menu.category}, #{menu.isDeleted}, #{menu.addTime})
    </foreach>
  </insert>

  <insert id="batchInsertMenuRole" parameterType="java.util.List">
    insert into
        as_menu_role (menu_id, role_id)
    values
    <foreach collection="list" separator="," item="menu">
      (#{menu.id}, 1)
    </foreach>
  </insert>

  <select id="getMenusByUser" resultMap="ResultMapWithGroup" parameterType="java.lang.String">
    SELECT
      m1.*,
      m2.`id` AS id2,
      m2.`name` AS name2,
      m2.path as path2,
      m2.`code` as code2,
      m2.icon_cls as iconCls2,
      m2.`level` as level2,
      m2.sort as sort2,
      m2.group_id as group_id2,
      m2.group_name as group_name2,
      m2.scene_id AS sceneId2,
      m3.`id` AS id3,
      m3.`name` AS name3 ,
      m3.path as path3,
      m3.`code` as code3,
      m3.icon_cls as iconCls3,
      m3.`level` as level3,
      m3.sort as sort3
      FROM
      as_menu m1,
      as_menu m2,
      as_menu m3
      WHERE
      m1.id IN ( SELECT mr.menu_id FROM as_menu_role mr WHERE mr.role_id IN (SELECT ur.role_id FROM as_user_role ur WHERE ur.uid = #{userId} AND ur.`status` = 1) )
      AND m1.`id` = m2.`parent_id`
      AND m2.`id` = m3.`parent_id`
      AND m3.`is_deleted` = 0
  </select>

  <select id="getFormMenusByApp" resultMap="ResultMapWithGroup" parameterType="java.lang.String">
  SELECT
    m1.*,
    m2.`id` AS id2,
    m2.`name` AS name2,
    m2.path as path2,
    m2.`code` as code2,
    m2.icon_cls as iconCls2,
    m2.`level` as level2,
    m2.sort as sort2,
    m2.group_id as group_id2,
    m2.group_name as group_name2,
    m2.scene_id as sceneId2,
    m3.`id` AS id3,
    m3.`name` AS name3 ,
    m3.path as path3,
    m3.`code` as code3,
    m3.icon_cls as iconCls3,
    m3.`level` as level3,
    m3.sort as sort3
    FROM
    as_menu m1,
    as_menu m2,
    as_menu m3
    WHERE
    m1.id IN (SELECT mr.menu_id FROM as_menu_role mr WHERE mr.role_id IN (SELECT ur.role_id FROM as_user_role ur WHERE ur.uid = #{userId} AND ur.`status` = 1))
    AND m1.`id` = m2.`parent_id`
    AND m2.`id` = m3.`parent_id`
    AND m3.`is_deleted` = 0
    AND m1.path = #{appId} AND m2.scene_id = #{sceneId}
  </select>

  <select id="getAppMenusByUser" resultMap="AppMenuMap" parameterType="java.lang.String">
    SELECT
	    m1.*
    FROM
        as_menu m1
    WHERE
        m1.id IN (SELECT mr.menu_id FROM as_menu_role mr WHERE mr.role_id IN (SELECT ur.role_id FROM as_user_role ur WHERE ur.uid = #{userId} AND ur.`status` = 1))
        AND m1.`is_deleted` = 0
        AND m1.`code` = 'app'
  </select>
  <insert id="insertSelective" parameterType="com.asset.bean.Menu">
    insert into as_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="iconCls != null">
        icon_cls,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="removeTime != null">
        remove_time,
      </if>
      <if test="sceneId != null">
        scene_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null">
        #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="removeTime != null">
        #{removeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sceneId != null">
        scene_id,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.bean.Menu">
    update as_menu
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null">
        icon_cls = #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="removeTime != null">
        remove_time = #{removeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="sceneId != null">
        scene_id = #{sceneId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateFormInfo" parameterType="com.asset.bean.Menu">
    update as_menu
    SET scene_id = #{sceneId}
    where path = #{formModelId} AND is_deleted = 0 AND category = 2
  </update>

  <update id="updateByPrimaryKey" parameterType="com.asset.bean.Menu">
    update as_menu
    set parent_id = #{parentId,jdbcType=BIGINT},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      icon_cls = #{iconCls,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      category = #{category,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      remove_time = #{removeTime,jdbcType=TIMESTAMP},
      group_id = #{groupId,jdbcType=VARCHAR},
      group_name = #{groupName,jdbcType=VARCHAR},
      scene_id = #{sceneId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
