<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.mapper.SceneMapper">
  <resultMap id="BaseResultMap" type="com.asset.bean.Scene">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="scene_name" jdbcType="VARCHAR" property="sceneName" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, scene_name, is_deleted, add_time, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from as_scene
    where id = #{id,jdbcType=VARCHAR}
    AND is_deleted = 0
  </select>
  <select id="getScenesByUser" resultMap="BaseResultMap">
    SELECT
        *
    FROM
        as_scene s
    WHERE
        s.id IN ( SELECT us.scene_id FROM as_user_scene us WHERE us.user_id = #{userId})
        AND s.`status` = 1
        AND s.is_deleted = 0
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from as_scene
    where is_deleted = 0 order by add_time ASC
  </select>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from as_scene
    where is_deleted = 0
    and scene_name = #{sceneName}
  </select>
  <select id="selectByNameAlike" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from as_scene
    where is_deleted = 0
    and scene_name like CONCAT('%', #{sceneName}, '%')
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from as_scene
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.asset.bean.Scene">
    insert into as_scene (id, scene_name, is_deleted,
      add_time, status)
    values (#{id,jdbcType=VARCHAR}, #{sceneName,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT},
      #{addTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.asset.bean.Scene">
    insert into as_scene
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sceneName != null">
        scene_name,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sceneName != null">
        #{sceneName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.bean.Scene">
    update as_scene
    <set>
      <if test="sceneName != null">
        scene_name = #{sceneName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="deleteScene" parameterType="java.lang.String">
    update as_scene
    <set>
      is_deleted = 1, status = 0
    </set>
    where id = #{id}
  </update>
  <update id="updateSceneName">
    update as_scene
    <set>
      scene_name = #{sceneName}
    </set>
    where id = #{id} and status = 1
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.bean.Scene">
    update as_scene
    set scene_name = #{sceneName,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
