<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyougov.flowable.dao.ProcTypeMapper">
	<resultMap id="BaseResultMap"
		type="com.asset.entity.ProcTypeEntity">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="code_id" jdbcType="VARCHAR" property="codeId" />
		<result column="name_" jdbcType="VARCHAR" property="name" />
		<result column="pid" jdbcType="INTEGER" property="pid" />
		<result column="state_" jdbcType="BIGINT" property="state" />
	</resultMap>
	<sql id="Base_Column_List">
		id, code_id, name_, pid, state_
	</sql>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from act_process_type
	</select>

	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from act_process_type
		where id = #{id,jdbcType=INTEGER}
	</select>



	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from act_process_type
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.asset.entity.ProcTypeEntity">
		insert into act_process_type (id, code_id, name_, pid, state_)
		values (#{id,jdbcType=INTEGER}, #{codeId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{pid,jdbcType=INTEGER}, #{state,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective"
		parameterType="com.asset.entity.ProcTypeEntity">
		insert into act_process_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="codeId != null">
				code_id,
			</if>
			<if test="name != null">
				name_,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="state != null">
				state_,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="codeId != null">
				#{codeId,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				#{state,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.asset.entity.ProcTypeEntity">
		update act_process_type
		<set>
			<if test="codeId != null">
				code_id = #{codeId,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name_ = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				pid = #{pid,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				state_ = #{state,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.asset.entity.ProcTypeEntity">
		update act_process_type
		set code_id = #{codeId,jdbcType=VARCHAR},
		name_ = #{name,jdbcType=VARCHAR},
		pid = #{pid,jdbcType=INTEGER},
		state_ = #{state,jdbcType=BIGINT}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>