<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.dao.AppFormBindMapper">
  <resultMap id="BaseResultMap" type="com.asset.entity.AppFormBindDO">
    <id column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="form_model_id" jdbcType="VARCHAR" property="formModelId" />
  </resultMap>
  <sql id="Base_Column_List">
    app_id, form_model_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from as_app_form
    where app_id = #{appId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from as_app_form
    where app_id = #{appId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.asset.entity.AppFormBindDO">
    insert into as_app_form (app_id, form_model_id)
    values (#{appId,jdbcType=VARCHAR}, #{formModelId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asset.entity.AppFormBindDO">
    insert into as_app_form
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        app_id,
      </if>
      <if test="formModelId != null">
        form_model_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="formModelId != null">
        #{formModelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asset.entity.AppFormBindDO">
    update as_app_form
    <set>
      <if test="formModelId != null">
        form_model_id = #{formModelId,jdbcType=VARCHAR},
      </if>
    </set>
    where app_id = #{appId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asset.entity.AppFormBindDO">
    update as_app_form
    set form_model_id = #{formModelId,jdbcType=VARCHAR}
    where app_id = #{appId,jdbcType=VARCHAR}
  </update>
  <select id="getFormModelIDs" parameterType="java.lang.String" resultType="java.lang.String">
    select
      form_model_id
    from as_app_form
    where app_id = #{appID,jdbcType=VARCHAR}
  </select>
</mapper>
