<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asset.dao.FlowableMapper">

    <resultMap id="BaseResultMap" type="com.asset.entity.FlowableTaskDO">
        <result column="TASK_ID_" jdbcType="VARCHAR" property="taskId"/>
        <result column="ACT_ID_" jdbcType="VARCHAR" property="actId"/>
        <result column="PROC_INST_ID_" jdbcType="VARCHAR" property="procInstId"/>
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.asset.entity.CommitFormInstDO">
        <result column="committer" jdbcType="VARCHAR" property="userID"/>
        <result column="scene_id" jdbcType="VARCHAR" property="sceneID"/>
        <result column="proc_inst_id" jdbcType="VARCHAR" property="procinstID"/>
    </resultMap>


    <!--取出AsFormInst对象中的taskId值去 act_hi_actinst表中找到对应的ACT_ID_字段的值，用于去别的表找这个ACT是什么类型的
     * @param List<FormInstDO> formInstDOS
     * @return 对应的ACT_ID_字段的值-->
    <select id="getActIDs" parameterType="com.asset.entity.FormInstDO" resultMap="BaseResultMap">
        SELECT
        TASK_ID_,
        ACT_ID_
        FROM ACT_HI_ACTINST
        WHERE
        TASK_ID_ in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item.taskId,jdbcType=VARCHAR}
        </foreach>
    </select>


    <!--* 获取当前的任务节点的ACT_ID
    * @param String procInstID
    * @return-->
    <select id="getCurActId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT ACT_ID_
        from ACT_HI_ACTINST
        where PROC_INST_ID_ = #{procInstID,jdbcType=VARCHAR}
          AND END_TIME_ is null
    </select>


    <!--获取流转到该用户的所有ACT_ID、TASK_ID信息,同时当前inst运行的状态得是正在运行
     * @param String userID-->
    <select id="getTaskInfos" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT actinst.TASK_ID_, actinst.ACT_ID_, actinst.PROC_INST_ID_
        FROM ACT_HI_ACTINST AS actinst,
             as_proc_inst AS asproc
        WHERE (actinst.ASSIGNEE_ = #{userID,jdbcType = VARCHAR} or
               actinst.ASSIGNEE_ is NULL)
          and actinst.ACT_TYPE_ = "userTask"
          and actinst.END_TIME_ is NULL
          and asproc.status = 0
          and asproc.id = actinst.PROC_INST_ID_
        ORDER BY START_TIME_ DESC
    </select>

    <!--nfq  2019/10/11   -->
    <select id="listComFormInst1" parameterType="java.lang.String" resultMap="BaseResultMap1">
        select
                asproc.id
        from
                as_proc_inst AS asproc,
                as_form_model AS asform
        where
                asproc.proc_model_id = asform.proc_model_id
            and asproc.committer = #{userID,jdbcType=VARCHAR}
            and asform.scene_id = #{curSelectSceneId,jdbcType=VARCHAR}
    </select>

    <select id="getNodeId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT ACT_ID_
        from ACT_HI_ACTINST
        where TASK_ID_ = #{taskId,jdbcType=VARCHAR}
    </select>


    <select id="getModelName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT name
        FROM ACT_DE_MODEL
        WHERE id = #{modelId,jdbcType=VARCHAR}
    </select>
    <!--<select id="getAllExecutedNodeIds" parameterType="java.lang.String" resultType="java.lang.String">-->
    <!--SELECT-->
    <!--ACT_ID_-->
    <!--FROM-->
    <!--ACT_HI_ACTINST-->
    <!--WHERE-->
    <!--EXECUTION_ID_ = #{executionId,jdbcType=VARCHAR} AND-->
    <!--END_TIME_ != null AND-->
    <!--ACT_TYPE_ = "userTask"-->
    <!--ORDER BY-->
    <!--END_TIME_ DESC-->
    <!--</select>-->
    <select id="getProcInstId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT PROC_INST_ID_
        FROM ACT_HI_ACTINST
        WHERE TASK_ID_ = #{taskId,jdbcType=VARCHAR}
    </select>

    <select id="selectModelEditorJson" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT model_editor_json
        FROM ACT_DE_MODEL
        WHERE id = #{procModelId,jdbcType=VARCHAR}
    </select>
    <update id="updateModelEditorJson" parameterType="java.lang.String">
        UPDATE ACT_DE_MODEL
        SET model_editor_json = #{newModelEditorJson,jdbcType=LONGVARCHAR}
        WHERE id = #{procModelId,jdbcType=VARCHAR}
    </update>


</mapper>
