<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asset.dao.ProcRuntimeMapper">
    <resultMap id="BaseResultMap" type="com.asset.entity.ProcInstInfo">
        <id column="id_" jdbcType="VARCHAR" property="id_"/>
        <result column="name_" jdbcType="VARCHAR" property="name_"/>
        <result column="PROC_INST_ID_" jdbcType="VARCHAR" property="procInstId"/>
        <result column="BUSINESS_KEY_" jdbcType="VARCHAR" property="bizId"/>
        <result column="PROC_DEF_ID_" jdbcType="VARCHAR" property="procDefId"/>
        <result column="ACT_ID_" jdbcType="VARCHAR" property="actId"/>
        <result column="act_name" jdbcType="VARCHAR" property="actName"/>
        <result column="START_TIME_" jdbcType="VARCHAR" property="startTime"/>
    </resultMap>

    <select id="selectProcInstPages" resultMap="BaseResultMap">
		SELECT
		e.ID_,
        p.NAME_,
        e.PROC_INST_ID_,
        e.BUSINESS_KEY_,
        e.PROC_DEF_ID_,
        e.ACT_ID_,
		n.node_id,
        LTRIM(e.START_TIME_) START_TIME_
		from
        ACT_RU_EXECUTION e,
#         act_proc_re_node n,
        as_proc_node n,
        as_proc_inst i,
        ACT_RE_PROCDEF p
		where
		e.PROC_DEF_ID_=i.proc_def_id and
        e.ACT_ID_= n.node_id and
        e.PROC_DEF_ID_=p.ID_
        <if test="id_!=null and id_!=''">
            AND e.id_ like concat(concat('%',#{id_}),'%')
        </if>
        <if test="procDefId!=null and procDefId!=''">
            AND e.PROC_DEF_ID_ like concat(concat('%',#{procDefId}),'%')
        </if>
        and e.IS_ACTIVE_='1'
        and e.SUSPENSION_STATE_='1'
        ORDER BY e.START_TIME_ desc
    </select>
</mapper>
